<a role="button" class="btn btn-primary btn-lg btn-block active" href="addItem">Add Grocery Item</a>

<div class="table-responsive">
	<table class="table table-hover">
	  <tr ng-repeat="item in groceryList.items">
	  	<td class="col-xs-1">
	  		<button type="button" class="btn btn-success" ng-click="completed=!completed">
  				<span class="glyphicon glyphicon-unchecked" aria-hidden="true" ng-show="!completed"></span>
  				<span class="glyphicon glyphicon-check" aria-hidden="true" ng-show="completed"></span>
			</button>
		</td>
	  	<td class="col-md-6">
	  		<span ng-show="!completed">{{item}}</span>
	  		<del ng-show="completed">{{item}}</del>
	  	</td>
	  	<td class="col-xs-1">
	  		<button type="button" class="btn btn-default" ng-click="editItem($index)">
  				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			</button>
	  	</td>
	  	<td class="col-xs-1">
	  		<button type="button" class="btn btn-danger" ng-click="deleteItem($index)">
  				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</button>
	  	</td>
	  </tr>
	</table>
<div>